@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #6767F4,
  $secondary: #E7E7FC,
  $surface: #17171C,
  $background: #17171C,
  $error: color-palette.$red-900
);

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

.mdc-notched-outline__notch {
  border-left-width: 0px !important;
  border-right-width: 0px !important;
}

::placeholder{
  padding: 0;
  margin: 0;
}
